# /api_gemini
/dockers
/.expo
.fake
/.idea
/.venv
.cursor/plans/rn-cafec4e0.plan.md
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/
coverage/
# React Native Android/iOS
android/app/build/
ios/build/
*.keystore
.firebase-service-account.json
# Env
.env
.env.localmobi-client/*.apk
mobi-client/**/*.apk
Constants.ts
mobi-client/src/services/Constant.ts
mobi-client/.expo/devices.json
mobi-client/package.json
mobi-client/package-lock.json
spring-ants-ktc/src/main/resources/application.properties
